<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <style>

  </style>
</head>

<body>
  <div id="app">
    <nav-link v-model="user" @add-name="addName"></nav-link>
    <ul>
      <li v-for="item in names">{{item}}</li>
    </ul>
  </div>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.9/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
  /**
   * 子组件
  */
  Vue.component('nav-link', {
    props: ['value'],
    template: `
      <div>
        <h2>默认插槽</h2>
        <p>
          <input
            type="text"
            :value="value"
            @input="onInput"
            v-on:keydown.enter="addName"
          />
          <button @click="addName">新增</button>
        </p>
      </div>
    `,
    methods: {
      addName() {
        // 将输入框的值发送到上一级组件
        this.$emit('add-name', this.value);
      },
      onInput(e) {
        this.$emit('input', e.target.value);
      }
    }
  });

  var app = new Vue({
    el: '#app',
    data: {
      user: '',
      names: []
    },
    methods: {
      addName(val) {
        this.names.push(val)
      }
    }
  });


</script>

</html>